[submodule "overdr0ne"]
	path = overdr0ne
	url = git@github.com:Overdr0ne/emacs-config.git
[submodule "packages/app-launcher"]
	path = packages/app-launcher
	url = git@github.com:SebastienWae/app-launcher.git
[submodule "packages/aptitude"]
	path = packages/aptitude
	url = /home/sam/.emacs.d/packages/aptitude
[submodule "packages/bitbake-el"]
	path = packages/bitbake-el
	url = git@github.com:Overdr0ne/bitbake-el.git
[submodule "packages/firmware-el"]
	path = packages/firmware-el
	url = file:///home/sam/.emacs.d/packages/firmware-el
[submodule "packages/skey"]
	path = packages/skey
	url = file:///home/sam/.emacs.d/packages/skey
[submodule "packages/slink"]
	path = packages/slink
	url = git@github.com:Overdr0ne/slink.git
[submodule "packages/gumshoe"]
	path = packages/gumshoe
	url = git@github.com:Overdr0ne/gumshoe.git
[submodule "packages/holymotion"]
	path = packages/holymotion
	url = https://github.com/PythonNut/evil-easymotion
